# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.iml

# Java
*.class

# Environment files
.env
notification-engine/src/main/resources/application.properties

# Node (if frontend exists)
node_modules/

# Package files
*.jar
*.war
*.ear